{% extends "layout.html" %}

{% block title %}
    <title>Pipauls - Product list</title>
{% endblock %}

{% block content %}
    {% if latest_product_list %}
        <div class="container">
            <div class="row">
            {% for product in latest_product_list %}
                <div class="col-12 col-md-6">
                    <ul>
                        <li><a href="{% url 'exchange:product-detail' product.id %}">{{ product.name }}</a></li>
                        <li>{{ product.description }}</li>
                        <li>{{ product.price }}</li>
                        <li>{{ product.created_at }}</li>
                    </ul>
                </div>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <p>No products are available.</p>
    {% endif %}
    <p>Nombre de visite de cette page bolosse : {{num_visits}}</p>
    {% if perms.exchange.can_edit_product %}
        <a type="button" class="btn btn-primary" href="{% url 'exchange:product-create' %}">
            Create product
        </a>
    {% endif %}
{% endblock %}
