{% extends "layout.html" %}

{% block content %}

    {% if form.errors %}
        <p>Vos login ou mot de passe ne correspondent pas. Essayez encore.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p> Vos permissions ne permettent pas d'ccéder à cette page,
                Merci de vous logger avec un compte qui a accès.</p>
        {% else %}
            <p>Merci de vous authentifier.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>Login : </td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>Mot de passe : </td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Mot de passe oublié ?</a></p>

{% endblock %}