{% load static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'exchange/css/bootstrap.css' %}">
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {% block title %}<title>Pipauls</title>{% endblock %}
    </head>
    <body style="height: 100vh;">

        <div class="d-flex flex-column" style="height: 100%;">
            <div class="bg-light">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="{% url 'exchange:product-list' %}">
                                    <img src="{% static 'exchange/images/pipauls-logo.png' %}" alt=""  height="30">
                                </a>
                                <div class="d-flex">
                                    {% if user.is_authenticated %}
                                    <div class="d-none d-md-block" style="margin-right:10px">
                                        {{ user.get_username }}
                                    </div>
                                    <a href="{% url 'logout'%}?next={{request.path}}">
                                        {% bs_icon 'person-check' size='1.5em' %}
                                    </a>
                                    {% else %}
                                    <a href="{% url 'login'%}?next={{request.path}}">
                                        {% bs_icon 'person-x' size='1.5em' %}
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% block content %}<!-- default content text (typically empty) -->{% endblock %}
                </div>
            </div>
            <div class="mt-auto">
                <div class="bg-light" style="height: 58px;padding:15px">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="list-inline text-center">
                                    <li class="list-inline-item"><a href="#">À propos</a></li>
                                    <li class="list-inline-item">&middot;</li>
                                    <li class="list-inline-item"><a href="#">Vie privée</a></li>
                                    <li class="list-inline-item">&middot;</li>
                                    <li class="list-inline-item"><a href="#">Conditions d'utilisations</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script src="{% static 'exchange/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>